.App {
  text-align: center;
}

.mainContents {
  background-color: #b7e4e4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #323333;
}

.image-box {
  width: 800px;
  height: 450px;
}
